.game-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b2f;
  padding: 14px 18px;
  border-bottom: 1px solid #2e2e4d;
  box-sizing: border-box;
}

.header-item {
  font-size: 14px;
  color: white;
}

/* Difficulty colors */
.header-item.difficulty.easy {
  color: #00ff9c;
}

.header-item.difficulty.medium {
  color: #f5c542;
}

.header-item.difficulty.evil {
  color: #ff4d4d;
}
