.rules-list {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
}

/* Base rule style */
.rule-item {
  padding: 12px 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
  will-change: transform, opacity;
}

/* ❌ Not satisfied */
.rule-fail {
  border-color: #ff4d4d;
  background-color: rgba(228, 87, 87, 0.2);
  color: #e7bebe;
  box-shadow: 0 0 8px rgba(255, 77, 77, 1.5);
}

/* ✅ Satisfied (future) */
.rule-ok {
  border-color: #00ff9c;
  background-color: rgba(0, 255, 156, 0.08);
  color: #87e3c0;
  box-shadow: 0 0 8px rgba(0, 255, 156, 1.5);
}
